.noteTable, .summaryTable{
   margin: 1em 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 table {
   width: 100%;
   border-spacing: 0px 10px;
 }

 tr {
   color: #575757;
   background-color: #56c8f525;
 }
 
 th {
   text-align: left;
   color: white;
   font-weight: bolder;
   padding: 10px;
   background-color: grey;
 }
   
 td {
   padding: 10px;
   text-align: left;
 } 
  
.td_icons {
  filter: invert(50%); 
}

.th_icon input {
  filter: invert(100%);    
}

.th_icon span {
  color: white   
}

.th_icon a {    
  display: flex;
  justify-content: center;
  align-items: center;    
  cursor: pointer;
}

.addBtn, .sendFormBtn {
  align-self: end;
  width: 100px;
  height: 20px;
  background-color: gray;
  color: white;
  cursor: pointer;
}

td img {
  width: 25px;
}