.noteTable, .summaryTable{
   margin: 1em 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 table {
   width: 100%;
   border-spacing: 0px 10px;
 }

 tr {
   color: #575757;
   background-color: #56c8f525;
 }
 
 th {
   text-align: left;
   color: white;
   font-weight: bolder;
   padding: 10px;
   background-color: grey;
 }
   
 td {
   padding: 10px;
   text-align: left;
 }